language: node_js
node_js:
  - "0.10"
  - "0.12"
  - "1.8"
  - "2.5"
  - "3.3"
  - "4.3"
  - "5.6"
matrix:
  fast_finish: true
script: "npm run-script test-travis"
after_script: "npm install codecov.io && cat ./coverage/lcov.info | codecov"
